mixin page()
 include ../../pug/_store.pug
  body.page
    .page__header  
      +header(images.LOGO)
    section.page__hero
      +hero(images.HERO)
    main.page__main
      +main()
    footer.page__footer
      +footer(images.LOGO_LARGE, images.SOCIAL)
    script
      include ./page.js
    script 
      include ../../subModules/select/getSelectToggle.js
    script
      include ../select/select.js
    script  
      include ../../subModules/select/changeStateDropDown.js
    script  
      include ../../subModules/select/setOption.js
    script  
      include ../../subModules/select/setActiveClass.js
    script  
      include ../../subModules/select/updateSelectToggle.js
    script  
      include ./entry.js
