@use '_fonts'

//fonts
$primaryFont: Montserrat-600
$secondFont: Poppins-400
$montserrat500: Montserrat-500
$montserrat400: Montserrat-400
$poppins500: Poppins-500
$mohave500: Mohave-500
$roboto400: Roboto-400

//colors
$primaryTheme: rgba(255, 1, 79, 1) 
$blueGray: rgba(206, 223, 246, 1)
$gray: rgba(152, 156, 162, 1)
$darkGray: rgba(196, 196, 196, 1)
$whiteGray: rgba(226, 226, 227, 1)
$blackGray: rgba(98, 103, 112, 1)
$white: rgba(255, 255, 255, 1)

//breackpoints 
$mobile: 320px
$xs: 600px
$sm: 960px
$md: 1264px
$lg: 1440px
$xl: 1920px

//size
$lgRadius: 30px
$smRadius: 10px

//effects
$primaryThemeHovered: rgba(255, 1, 79, 0.8) 
