@use '_fonts'

//fonts
$primaryFont: Montserrat-600
$secondFont: Poppins-400
$montserrat500: Montserrat-500
$montserrat400: Montserrat-400

//colors
$primaryTheme: rgba(255, 1, 79, 1) 
$blueGray: rgba(206, 223, 246, 1)
$gray: rgba(152, 156, 162, 1)
$whiteGray: rgba(226, 226, 227, 1)
$blackGray: rgba(98, 103, 112, 1)
$white: rgba(255, 255, 255, 1)

//breackpoints 
$xs: 600px
$sm: 960px
$md: 1264px
$lg: 1440px
$xl: 1920px
