@use '_global'

@media (min-width: global.$xs)
  :root
   font-size: calc(0.5em + 1vw)

@media (min-width: global.$sm)
  :root
   font-size: calc(0.5em + 1vw)

@media (min-width: global.$md)
  :root
   font-size: calc(0.147em + 1vw)

@media (min-width: global.$lg)
  :root
   font-size: calc(0.146em + 1vw)

@media (min-width: global.$xl)
 :root
   font-size: calc(0.05em + 1vw)

