- const images = {}

- images.LOGO = {src: require('../assets/images/logo/logo.png')}

- images.LOGO_LARGE = {src: require('../assets/images/logo/logo-large.png')}

- images.HERO = {src: require('../assets/images/hero/hero.png')}

- images.TITLE_DECORATION = {src: require('../assets/images/decoration.png')}

//-ASSETS
- images.NFT_ITEM_COVER = [{src: require('../assets/images/nft-item/cover-1.png')}, {src: require('../assets/images/nft-item/cover-2.png')}, {src: require('../assets/images/nft-item/cover-3.png')}, {src: require('../assets/images/nft-item/cover-4.png')}, {src: require('../assets/images/nft-item/cover-5.png')}, {src: require('../assets/images/nft-item/cover-6.png')}, {src: require('../assets/images/nft-item/cover-7.png')}, {src: require('../assets/images/nft-item/cover-8.png')}]

- images.NFT_ITEM_AVATAR = [{src: require('../assets/images/nft-item/avatar/avatar-1.png')}, {src: require('../assets/images/nft-item/avatar/avatar-2.png')}, {src: require('../assets/images/nft-item/avatar/avatar-3.png')}, {src: require('../assets/images/nft-item/avatar/avatar-4.png')}, {src: require('../assets/images/nft-item/avatar/avatar-5.png')}, {src: require('../assets/images/nft-item/avatar/avatar-6.png')}, {src: require('../assets/images/nft-item/avatar/avatar-7.png')}, {src: require('../assets/images/nft-item/avatar/avatar-8.png')}]

- images.SOCIAL = [{src: require('../assets/images/social/facebook.png')}, {src: require('../assets/images/social/instagram.png')}, {src: require('../assets/images/social/linkedin.png')}, {src: require('../assets/images/social/twitter.png')}]


//-TRANDIG
- images.TRENDING_COVER = [{src: require('../assets/images/trending/card-tranding 1.png')}, {src: require('../assets/images/trending/card-tranding 2.png')}, {src: require('../assets/images/trending/card-tranding 3.png')}, {src: require('../assets/images/trending/card-tranding 4.png')}, {src: require('../assets/images/trending/card-tranding 5.png')}, {src: require('../assets/images/trending/card-tranding 6.png')}, {src: require('../assets/images/trending/card-tranding 7.png')}, {src: require('../assets/images/trending/card-tranding 8.png')}]

- images.TRENDING_AVATAR = [{src: require('../assets/images/trending/avatar/1.png')}, {src: require('../assets/images/trending/avatar/2.png')}, {src: require('../assets/images/trending/avatar/3.png')}, {src: require('../assets/images/trending/avatar/4.png')}, {src: require('../assets/images/trending/avatar/5.png')}, {src: require('../assets/images/trending/avatar/6.png')}, {src: require('../assets/images/trending/avatar/7.png')}, {src: require('../assets/images/trending/avatar/8.png')}]

//-TOP SELLERS
- images.SELLERS_AVATAR = [{src: require('../assets/images/sellers/sellers 1.png')}, {src: require('../assets/images/sellers/sellers 2.png')}, {src: require('../assets/images/sellers/sellers 3.png')}, {src: require('../assets/images/sellers/sellers 4.png')}, {src: require('../assets/images/sellers/sellers 5.png')}, {src: require('../assets/images/sellers/sellers 6.png')}, {src: require('../assets/images/sellers/sellers 7.png')}, {src: require('../assets/images/sellers/sellers 8.png')}, {src: require('../assets/images/sellers/sellers 9.png')}, {src: require('../assets/images/sellers/sellers 10.png')}, {src: require('../assets/images/sellers/sellers 11.png')}, {src: require('../assets/images/sellers/sellers 12.png')}, {src: require('../assets/images/sellers/sellers 13.png')}, {src: require('../assets/images/sellers/sellers 14.png')}, {src: require('../assets/images/sellers/sellers 15.png')}]
- images.SELLERS__CRYPTO = {src: require('../assets/images/sellers/crypto-icon/Crypto.png')}

//-CREATE AND SELL
- images.CREATE = [{src: require('../assets/images/creat&sell/wallet.png')}, {src: require('../assets/images/creat&sell/growth.png')}, {src: require('../assets/images/creat&sell/packing.png')}, {src: require('../assets/images/creat&sell/ethereum.png')}, {src: require('../assets/images/creat&sell/crown.png')}, {src: require('../assets/images/creat&sell/playing-cards.png')}]
- images.ELLIPSE = {src: require('../assets/images/creat&sell/ellipse.png')}

//-PRODUCT LIVE
- images.PRODUCT_LIVE_COVER = [{src: require('../assets/images/products-live/Rectangle 1.png')}, {src: require('../assets/images/products-live/Rectangle 2.png')}, {src: require('../assets/images/products-live/Rectangle 3.png')}, {src: require('../assets/images/products-live/Rectangle 4.png')}, {src: require('../assets/images/products-live/Rectangle 5.png')}, {src: require('../assets/images/products-live/Rectangle 6.png')}, {src: require('../assets/images/products-live/Rectangle 7.png')}, {src: require('../assets/images/products-live/Rectangle 8.png')}]

- images.ICON_CRYPTO = {src: require('../assets/images/products-live/icon-crypto.png')}
- images.SHARE = {src: require('../assets/images/products-live/share.png')}
- images.STAR = {src: require('../assets/images/products-live/star.png')}

//-COLLECTION
-images.ICON_COLLECTION = [{src: require('../assets/images/collection/collection-1.png')}, {src: require('../assets/images/collection/collection-2.png')}, {src: require('../assets/images/collection/collection-3.png')}, {src: require('../assets/images/collection/collection-4.png')}, {src: require('../assets/images/collection/collection-5.png')}, {src: require('../assets/images/collection/collection-6.png')}, {src: require('../assets/images/collection/collection-7.png')}, {src: require('../assets/images/collection/collection-8.png')}]

//-SELECTOR
- images.ICON_SWITCHER = {src: require('../assets/images/down-arrow.png')}